# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [61]:
# enter your code here
orders = pd.read_csv("/Users/etienneleconte/248_Repo/Labs/module_1/Dataframe-Calculations/lab-df-calculation-and-transformation/your-code/Orders.csv")
orders.head()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community',
       'Bahrain', 'Malta', 'RSA'], dtype=object)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [17]:
# your code here
aggexp=pd.DataFrame(orders.groupby('CustomerID').amount_spent.sum())
aggexp.describe()

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
25%       307.245000
50%       674.450000
75%      1661.640000
max    280206.020000

In [46]:
q95=aggexp.loc[aggexp['amount_spent']>np.percentile(aggexp['amount_spent'],95)]
q750=aggexp.loc[aggexp['amount_spent']>np.percentile(aggexp['amount_spent'],75)]
q75=q750.loc[~q750.index.isin(q95.index)]

(868, 1)

In [52]:
aggexp.loc[aggexp.index.isin(q95.index),'Label']='VIP'
aggexp.loc[aggexp.index.isin(q75.index),'Label']='Preferred'
aggexp.Label.fillna('undetermined',inplace=True)
aggexp

            amount_spent         Label
CustomerID
12346           77183.60           VIP
12347            4310.00     Preferred
12348            1797.24     Preferred
12349            1757.55     Preferred
12350             334.40  undetermined
...                  ...           ...
18280             180.60  undetermined
18281              80.82  undetermined
18282             178.05  undetermined
18283            2094.88     Preferred
18287            1837.28     Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [102]:
# your code here
df=aggexp.join(orders.Country,on='CustomerID')
df[df['Label']=='VIP'].groupby('Country').Label.count().sort_values(ascending=False)

Country
United Kingdom    191
Norway              6
Germany             6
France              6
EIRE                3
Spain               2
Portugal            2
Japan               1
Name: Label, dtype: int64

In [103]:
df[(df['Label']=='VIP') | (df['Label']=='Preferred')].groupby('Country').Label.count().sort_values(ascending=False)

Country
United Kingdom     971
Norway              24
Germany             22
France              19
Spain               15
EIRE                12
Denmark              8
Portugal             6
Japan                6
Channel Islands      2
Name: Label, dtype: int64