# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
Hostname='relational.fit.cvut.cz'
un='guest'
password=getpass()
db='stats'
engine=create_engine(f'mysql+pymysql://{un}:{password}@{Hostname}/{db}')

········

#### 4. Import the users table.

In [4]:
query="""
select*
from users"""

In [5]:
users=pd.read_sql_query(query,engine)
users.shape

(40325, 14)

#### 5. Rename Id column to userId.

In [6]:
users=users.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [7]:
query="""
select*
from posts"""
posts=pd.read_sql_query(query,engine)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [8]:
posts=posts.rename(columns={'Id':'postId','OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [9]:
users1=users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts1=posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
users1.shape
posts1.shape

(91976, 5)

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
df=users1.merge(posts1,how='inner',on='userId')

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
df.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [12]:
df.ViewCount=df.ViewCount.fillna(0)
df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

In [16]:
df.ViewCount=df.ViewCount.astype('int64')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB