In [1]:
import numpy as np
from scipy.stats import ttest_1samp

In [24]:
patients=np.random.normal(6,1.7,100)
patients

array([ 3.48366764,  7.74945033,  5.34301923,  3.30157675,  6.19000392,
        5.13196625,  4.044186  ,  5.45417165,  7.85304803,  6.03647267,
        6.33119658,  5.90243255,  4.31671306,  6.87666103,  7.62216294,
        6.58479827,  6.82215594,  6.40968246,  3.96879404,  6.26973079,
        4.62054533,  6.93722336,  4.1874991 ,  5.36047034,  4.05926619,
        6.66543036,  6.4100369 ,  6.49501077,  4.66411877,  6.2180055 ,
        7.30330618,  8.15216538,  6.63214416,  5.03509367,  6.50616009,
       10.00713168,  5.34424666,  5.47633105,  5.2962762 ,  7.56137279,
        6.63467056,  4.51096038,  5.12128775,  3.53119087,  3.39370167,
        5.99589051,  4.12057852,  5.73509237,  8.49374519,  6.17901391,
        5.3593192 ,  7.26389802,  3.88972907,  4.92469941,  4.25971842,
        4.22915208,  7.2061257 ,  6.34214531,  9.53860823,  7.49950007,
        7.20498008,  8.01985644,  6.7947664 ,  4.06768025,  6.77236781,
        8.37322235,  7.13383726,  5.72403483,  5.67877537,  7.85657003,
        3.87240976,  8.56874574,  6.94146196,  2.9596442 ,  6.61507559,
        3.09780619,  5.75210149,  3.3140952 ,  5.59286869,  4.20805301,
        8.97982133,  6.38713855,  5.87527577,  4.8965268 ,  5.13457639,
        5.60438495,  4.04481775,  6.73676575,  4.83607101,  5.97470439,
        7.789988  ,  9.01315326,  5.32885097,  6.59069354,  7.72946537,
        6.55007274,  5.52812121,  5.29521379,  6.84380816,  6.20694582])

Given the sample of 100 patients, test whether the average value of sugar is 5.7

H0: µ=5.7
H1: µ!=5.7

In [9]:
test=ttest_1samp(patients,5.7)
test

Ttest_1sampResult(statistic=1.4882983935780432, pvalue=0.13985073621684774)

I receive 2 parameters: 
    
    1. Statistic: value of observed
    2. pvalue : probability of being wrong by rejectif the null hypo

Given the statistics I can compare it with my t critical based on significance level (1.96 for 5% alpha)

In [10]:
test.statistic>1

True

Since the value of stats is > t critical, we conclude that null hypo should be rejected

At the same time we can see that pvalue is significantly smaller than 5% (alpha). therefore by default wz can confirm that we reject our H0 even without calculating the critical t stats

Now let's see whether the avg value of sugar is 7

In [11]:
test=ttest_1samp(patients,7)
test

Ttest_1sampResult(statistic=-5.488504968561043, pvalue=3.12659986551116e-07)

In [12]:
patients.mean()

5.977317248491041

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/blood_pressure.csv')

In [15]:
df

        before       after
0   136.713072   92.432965
1   134.735618  105.022643
2   127.529115   82.242766
3   144.527126   93.607172
4   124.214720  103.212223
..         ...         ...
95  120.302824   85.128581
96  134.806478  106.925426
97  144.919839   83.105975
98  139.673854   87.560306
99  138.389444   99.392115

[100 rows x 2 columns]

In [16]:
from scipy.stats import ttest_rel

In [17]:
ttest_rel(df.after, df.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [ ]:
Since the pvalue i

In [18]:
df2=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/ab_test.csv')

In [19]:
df2

        a      b
0    0.27  13.61
1    6.08  21.53
2   13.74   9.23
3    9.70   5.36
4    7.00  12.90
5    4.77  10.83
6    2.56  10.70
7    7.24  15.57
8    7.30  10.42
9    0.86  18.90
10   3.10  23.95
11  10.31   5.70
12  17.42  12.65
13  14.03   9.78
14   9.09  12.83
15  13.29  18.61
16  16.55  12.94
17   8.14   5.85
18  13.99  22.92
19  10.99  21.46
20  18.35   3.11
21   3.34  15.52
22  11.27   1.51
23  16.02  24.00
24   9.47  14.07
25  11.62  11.97
26   6.83   2.31
27  11.57   2.66
28  20.90  14.14
29   1.97  22.63
30  15.67  10.95
31  19.08   0.59
32   4.60  15.14
33   8.21  21.97
34   6.29  20.22
35  16.26  11.13
36  13.51  13.74
37   8.63   7.02
38   2.73   9.94
39   9.07   7.99
40   6.56  20.37
41  13.31   6.46
42   4.08  11.66
43   9.07  18.62
44   6.65  19.49
45   3.73   2.02
46   1.01   8.48
47  14.57  12.62
48   5.20  13.22
49  11.77   4.01

In [20]:
from scipy.stats import ttest_ind

In [22]:
ttest_ind(df2.a, df2.b)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

Since pvalue is <0.05 we confirm that there is a difference and sice stats is below 0, we deduce that version a has lower engagement than version b

In [23]:
ttest_ind(df2.a, df2.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)